body {
	margin: 0;
	background: transparent;
	padding-top: 60px;
}

.page_content {
	margin-bottom: 10px;
	background: white;
	border-radius: 5px;
}

.footer {
	background: whiteSmoke;
	margin-top: 45px;
	border-top: 1px solid #dfdfdf;
	border-bottom:1px solid #dfdfdf;
	padding: 10px 0;
}

.btn {
	cursor: pointer;
}

ul.secondary-nav > li.menu > a.menu > img{
	vertical-align: middle;
}