<p><%= t "hello" %> <%=@resource.username%>,</p>
<p><%=t "devise.confirmation.link" %></p>
<p><%= link_to t('devise.account.confirm'), user_confirmation_url(:confirmation_token => @resource.confirmation_token) %></p>
